/* line 1, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_reset.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 6, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_reset.scss */
html, body, .wrapper {
  width: 100%;
  background: #EFF3F6;
}

/* line 11, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_reset.scss */
body, .wrapper {
  height: 100vh;
  min-height: 100vh;
}

/* line 16, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_reset.scss */
ul, li {
  list-style: none;
}

/* line 20, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_reset.scss */
a {
  text-decoration: none;
  color: #FDAD2A;
}

/* line 1, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_base.scss */
.m-auto {
  margin: 0 auto;
}

/* line 5, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_base.scss */
.w-25p {
  width: 25%;
}

/* line 9, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_base.scss */
.w-50p {
  width: 50%;
}

/* line 13, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_base.scss */
.w-100p {
  width: 100%;
}

/* line 16, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_base.scss */
.h-100p {
  height: 100%;
}

/* line 19, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_base.scss */
.dis-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* line 2, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_header.scss */
header nav {
  height: 60px;
  position: fixed;
  width: 100%;
  border-radius: 0 !important;
}

/* line 7, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_header.scss */
header nav .navbar-toggler {
  top: 50%;
  height: 36px;
  margin-top: -18px;
}

/* line 14, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_header.scss */
header .collapse.navbar-collapse {
  justify-content: flex-end;
}

/* line 1, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
.menus {
  margin-bottom: 0;
}

/* line 15, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li {
  border-bottom: none;
}

/* line 17, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a {
  color: #222222;
  border-radius: 0px;
  padding: 0px;
  display: block;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

/* line 27, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a i {
  padding: 8px 0px;
  border-right: none;
  font-size: 20px;
  float: left;
  margin-right: 5px;
  line-height: 30px;
  width: 50px;
  text-align: center;
  position: relative;
}

/* line 37, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a i .badge {
  position: absolute;
  top: 0;
  left: 0;
  left: 15px;
  border-radius: 50%;
}

/* line 45, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  text-transform: capitalize;
  padding: 8px 0px;
}

/* line 53, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li.active a {
  color: #FDAD2A;
  opacity: 1;
  font-weight: 900;
  position: relative;
}

/* line 59, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li.active a:before, .menus li.active a:after {
  bottom: 0;
  top: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 3px;
  z-index: 1000;
  background: #FDAD2A;
}

/* line 7, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
#leftSideBar {
  width: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 3;
  background: #FFFFFF;
}

@media (max-width: 991px) {
  /* line 7, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
  #leftSideBar {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 22, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
  .rightSideBar {
    height: 100% !important;
  }
}

@media (min-width: 991px) {
  /* line 22, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
  .rightSideBar {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 75, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  .nav-open .rightSideBar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  /* line 82, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  body > .rightSideBar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 220px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background: #FFFFFF;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding: 0;
    -webkit-transform: translate3d(220px, 0, 0);
    -moz-transform: translate3d(220px, 0, 0);
    -o-transform: translate3d(220px, 0, 0);
    -ms-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  /* line 108, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-220px, 0, 0);
    -moz-transform: translate3d(-220px, 0, 0);
    -o-transform: translate3d(-220px, 0, 0);
    -ms-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
  }
  /* line 117, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  .wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    position: relative;
  }
  /* line 131, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 220px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}

/* line 1, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
.menus {
  margin-bottom: 0;
}

/* line 15, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li {
  border-bottom: none;
}

/* line 17, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a {
  color: #222222;
  border-radius: 0px;
  padding: 0px;
  display: block;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

/* line 27, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a i {
  padding: 8px 0px;
  border-right: none;
  font-size: 20px;
  float: left;
  margin-right: 5px;
  line-height: 30px;
  width: 50px;
  text-align: center;
  position: relative;
}

/* line 37, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a i .badge {
  position: absolute;
  top: 0;
  left: 0;
  left: 15px;
  border-radius: 50%;
}

/* line 45, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li a p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  text-transform: capitalize;
  padding: 8px 0px;
}

/* line 53, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li.active a {
  color: #FDAD2A;
  opacity: 1;
  font-weight: 900;
  position: relative;
}

/* line 59, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
.menus li.active a:before, .menus li.active a:after {
  bottom: 0;
  top: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 3px;
  z-index: 1000;
  background: #FDAD2A;
}

/* line 7, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
#leftSideBar {
  width: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 3;
  background: #FFFFFF;
}

@media (max-width: 991px) {
  /* line 7, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
  #leftSideBar {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 22, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
  .rightSideBar {
    height: 100% !important;
  }
}

@media (min-width: 991px) {
  /* line 22, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_aside.scss */
  .rightSideBar {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 75, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  .nav-open .rightSideBar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  /* line 82, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  body > .rightSideBar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 220px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background: #FFFFFF;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding: 0;
    -webkit-transform: translate3d(220px, 0, 0);
    -moz-transform: translate3d(220px, 0, 0);
    -o-transform: translate3d(220px, 0, 0);
    -ms-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  /* line 108, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-220px, 0, 0);
    -moz-transform: translate3d(-220px, 0, 0);
    -o-transform: translate3d(-220px, 0, 0);
    -ms-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
  }
  /* line 117, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  .wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    position: relative;
  }
  /* line 131, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/base/_mixins.scss */
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 220px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}

/* line 5, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
main {
  position: relative;
  max-height: calc(100% - 60px);
  height: 100%;
}

/* line 13, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main {
  width: calc(100% - 220px);
  margin-left: auto;
  z-index: 2;
  padding: 30px;
  min-height: 100%;
}

/* line 19, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main .inner-sections {
  margin-bottom: 30px;
}

/* line 21, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main .inner-sections:last-of-type {
  margin-bottom: 0;
}

/* line 25, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main .stats {
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
}

/* line 29, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main .stats hr {
  background: #FFFFFF;
  margin: 20px auto;
}

/* line 33, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main .stats .figures {
  font-size: 40px;
  font-weight: 900;
}

/* line 38, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
#main .stats .stat {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  /* line 13, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/layout/_main.scss */
  #main {
    width: 100%;
    padding: 15px;
  }
}

/* line 2, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.columns {
  margin-top: 0;
}

/* line 4, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.columns:last-child {
  margin-bottom: 0;
}

/* line 10, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.card--panel {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

/* line 18, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.card--icon-wrap {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
  border-radius: 3px;
}

/* line 28, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.card--icon {
  font-size: 30px;
}

/* line 31, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.card--stats {
  flex: 1;
  height: 90px;
  font-size: 15px;
  text-align: right;
}

/* line 38, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.card--stats-figure {
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
}

/* line 44, C:/Users/USER/Documents/Repos/clinicDashboard/finished/assets/scss/modules/_components.scss */
.card--stats-text {
  color: #D2D2D2;
  font-weight: 500;
}

/*# sourceMappingURL=../css/main.map */