.p-15{
    padding: 15px;
}

.p-t-15{
    padding-top: 15px;
}

.m-auto{
    margin: 0 auto;
}

.w-25p{
    width: 25%;
}

.w-50p{
    width: 50%;
}

.w-100p{
    width: 100%;
}
.h-100p{
    height: 100%;
}
.dis-flex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
