$primary-color: #FDAD2A;
$secondary-color: #AC6BEC;

$brand-red: #FA424A;
$brand-grey: #EFF3F6;
$brand-green: #46C35F;
$brand-blue: #010028;
$brand-dark: #222222;
$white-color: #FFFFFF;
$facebook: #3B5999;
$twitter: #55ACEE;
$instagram: #3F729B;
$google: #DD4B39;

// leftsidebar width
$leftSideBarWidth: 220px;
// navbar height
$navbarHeight: 60px;

// main content padding..
$inner-spacing: 30px;