html, body{
	background: #eee;
	height: 100%;
	margin: 0;
	padding: 0;
}

header{
	position: relative;
	height: 52px;
}
.navbar{
	height: 52px;
	background: #20C0D4;
	position: fixed;
	width: 100%;
	z-index: 5;
}

#navMenubd-example [class*='fa-']{
	color: #fff;
}

main{
	height: calc(100% - 52px);
	position: relative;
}

#leftSidebar{
	position: fixed;
	width: 250px;
	height: 100%;
	z-index: 3;
	background: #fff;
	overflow: auto;
	max-height: 100%;
	left: 0px;
	/*top: 0px;
	bottom: 0px;*/
}

aside#leftSidebar {
	padding: 0 10px 0 10px;
}

#leftSidebar ul{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

#leftSidebar [class*='fa-']{
	float: left;
	padding: 15px;
	width: 70px;
	text-align: center;
	line-height: 30px;
}

#leftSidebar li p{
	padding: 15px;
	line-height: 30px;
}

#leftSidebar li a{
	color: black;
	font-weight: 200;
}

#leftSidebar .item:hover, #leftSidebar .item:active{
	background: #24C5D9;
	padding: (10px, 0, 10px, 0);
	border-radius: 4%;
	color: #fff;
	box-shadow: 0px 3px 15px 0px #24c5d9;
}

li.admin{
	height: 100%;
}
.admin{
	height: 100px;
	margin: 20px;
	border-bottom: 1px solid #DFE1E2;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: right;
}

.admin img{
	border-radius: 100%;
}

#main{
	width: calc(100% - 250px);
	height: 100%;
	margin-left: auto;
	padding: 30px;
}

#main .headings{
	font-size: 35px;
	font-weight: 500;
}

#main .tile{
	background: #fff;
	padding: 20px;
	display: block;
	/*border-radius: 4%;*/
	text-align: right;
	height: 150px;
}

#columns [class*='fa-']{
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card{
	/*border-radius: 4%;*/
	padding: 0;
	margin: 0;
}

.card__body{
	padding: 20px;
}

#main .icons{
	height: 100%;
	width: 100%;
	/*min-width: 50%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E8413D;
	color: #fff;
	border-radius: 4%;
	padding: 15px;
}

#main .icons:nth-child(2){
	background: #14B5C9;
}
.columns{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}