/*reset*/
html, body, .wrapper{
	margin: 0;
	padding: 0;
	width: 100%;
	background: #D0E5E8;
}
  
.navbar{
	height: 52px;
}
.navbar-end i{
	color: #FFFFFF;
}

main{
	position: relative;
}

#leftSideBar{
	position: absolute;
	width: 250px;
	height: 100%;
	z-index: 3;
	background: #FFF;
}
/*new*/

#L-upper{
	height: 140px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #EAE8E9;		
}

#L-upper .columns{
	margin: 0;
}

#L-upper .columns .is-3{
	width: 100px;
}

#L-upper #thumbnail{
	height:80px ;
	width: 80px ;
	border-radius: 50%;
	background: red;
	
}

#L-upper .column:nth-child(2){
	padding-top: 20px;
	padding-bottom: 20px;
}

#L-upper .column h5:nth-child(2){
	font-weight: bold;
}

#L-Lower{
	padding: 0 20px;
	margin-top: 35px;	
}

#L-Lower li:nth-child(1){
	background: #24C5D9;
	box-shadow: 0px 7px 3px -2px rgba(198,238,245,1);	
}

#L-Lower li a{
	display: block;
  width: 100%;
}

#L-Lower li:nth-child(1) i{
	color: #FFF;	
}

#L-Lower li i{
	color: #A9AFBB;
	float: left;
	padding: 10px;
	text-align: center;
	line-height: 30px;
	width: 70px;	
}

#L-Lower li:nth-child(1) p{
color: #FFF;
}

#L-Lower li p{
	padding: 10px;
	line-height: 30px;
	color: #6F7681;
}

#rightSideBar{
	width: calc(100% - 250px);
	height: 100%;
	margin-left: auto;
	padding: 30px;
}

#rightSideBar .headings{
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 20px;
}

#rightSideBar .tile{
	/*background:  #f2e851;*/
	height: 150px;
	padding: 20px;
	display: block;
}

#rightSideBar .icons{
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: powderblue;*/
	color: #FFF;
}

#rightSideBar .stats{
	text-align: right;
}

.stats h3{
  height: 40px;
  font-size: 35px;
  font-weight: 500;
}

.bg-grey{
	background: #EEEEEE;
}

.bg-white{
	background: #FFFFFF;
}

.bg-offwhite{
	background: #FAFAFC;
}
.bg-red{
	background: #EA4743;
}
.bg-blue{
	background: #1ABBD0;
}

.bg-green{
	background: #59B05D;
}
.bg-orange{
	background:#FEA11E; 
}

.tile__body #barChart, .tile__body #doughnut-chart, .tile__body #bar-chart-horizontal {
 height: 400px;
 width: 400px;
}

/*.tx-white{
	color: #FFFFFF;
}*/

/*changes under consideration*/
/*#rightSideBar .icons{
    height: 90px;
    width: 90px;
}

.fa{
	font-size: 40px;
}*/

/*height: 110px; for column surrounding column is-5*/
