header{
    nav{
        height: $navbarHeight;
        position: fixed;
        width: 100%;
        border-radius: 0 !important;
        .navbar-toggler{
            top: 50%;
            height: 36px;
            margin-top: -18px;
        }
    }
    
    .collapse.navbar-collapse {
        justify-content: flex-end;
    }
    
}
